<mat-card>
  <mat-card-header class="d-flex justify-content-between align-items-center flex-wrap ml-0">
    <mat-card-title class="mb-0">基础信息</mat-card-title>

    <div class="d-flex align-items-center flex-wrap my-2 my-md-0">
      <mat-slide-toggle
        class="example-margin"
        color="primary"
        name="usePredefinedInsurancePercents"
        [(ngModel)]="usePredefinedInsurancePercents">
        预定义社保缴纳参数
      </mat-slide-toggle>

      <button class="ml-0 ml-sm-3 mt-1 mt-sm-0" mat-button color="primary" [matMenuTriggerFor]="menu">{{ cityRecipe.label }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of (recipes$ | async)" (click)="changeRecipe(item)">{{ item.label }}</button>
      </mat-menu>
    </div>
  </mat-card-header>

  <mat-card-content class="mb-0">
    <form class="form-basic-data" [formGroup]="baseForm">
      <div class="row">
        <mat-form-field class="col-12 col-md-3" appearance="outline">
          <mat-label>月薪</mat-label>
          <input matInput type="number" placeholder="10000" formControlName="monthSalary" min="0">
          <span matSuffix>元</span>
        </mat-form-field>

        <mat-form-field class="col-12 col-md-3" appearance="outline">
          <mat-label>年终奖</mat-label>
          <input matInput type="number" placeholder="0" formControlName="annualBonus" min="0">
          <span matSuffix>元</span>
        </mat-form-field>
      </div>

      <div class="row mx-0">
        <mat-form-field appearance="standard">
          <mat-label>社保缴纳基数</mat-label>
          <input matInput
                 type="number"
                 placeholder="10000"
                 formControlName="insuranceBase"
                 min="0"
                 [matAutocomplete]="insuranceBase">
          <span matSuffix>元</span>

          <mat-autocomplete #insuranceBase="matAutocomplete" panelWidth="200">
            <mat-option [value]="baseForm.controls.monthSalary?.value">全额缴纳：{{baseForm.controls.monthSalary?.value}}元(不超上限{{insuranceTop}}元)
            </mat-option>
            <mat-option [value]="cityRecipe.minimumWage">最低工资标准：{{cityRecipe.minimumWage}}元</mat-option>
            <mat-option [value]="0">不缴纳：0元</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="ml-sm-3 ml-md-4">
          <mat-form-field appearance="standard">
            <mat-label>公积金缴纳基数</mat-label>
            <input matInput
                   type="number"
                   placeholder="10000"
                   formControlName="housingFundBase"
                   min="0"
                   [matAutocomplete]="housingFundBase">
            <span matSuffix>元</span>

            <mat-autocomplete #housingFundBase="matAutocomplete" panelWidth="200">
              <mat-option [value]="baseForm.controls.monthSalary?.value">全额缴纳：{{baseForm.controls.monthSalary?.value}}元(不超上限{{housingFundTop}}元)

              </mat-option>
              <mat-option [value]="cityRecipe.minimumWage">最低工资标准：{{cityRecipe.minimumWage}}元</mat-option>
              <mat-option [value]="0">不缴纳：0元</mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>公积金个人缴纳比例</mat-label>
            <input matInput type="number" placeholder="5" formControlName="housingFundRate" min="0">
            <span matSuffix>%</span>
          </mat-form-field>
        </div>

        <div class="ml-md-4" formGroupName="extraDeduction">
          <mat-form-field appearance="standard" style="width: 120px;">
            <mat-label>子女教育(当月)</mat-label>
            <input matInput
                   type="number"
                   placeholder="0"
                   formControlName="childEducation"
                   min="0"
                   [matAutocomplete]="childEducation">
            <span matSuffix>元</span>

            <mat-autocomplete #childEducation="matAutocomplete" panelWidth="200">
              <mat-option [value]="0">不符合：0元</mat-option>
              <mat-option [value]="500">一个孩子，夫妻双方各自扣除：500元</mat-option>
              <mat-option [value]="1000">一个孩子，仅有一方扣除：1000元</mat-option>
              <mat-option [value]="1000">两个个孩子，夫妻双方各自扣除：1000元</mat-option>
              <mat-option [value]="2000">两个孩子，仅有一方扣除：2000元</mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>继续教育(当月)</mat-label>
            <input matInput
                   type="number"
                   placeholder="0"
                   formControlName="continuingEducation"
                   min="0"
                   [matAutocomplete]="continuingEducation">
            <span matSuffix>元</span>

            <mat-autocomplete #continuingEducation="matAutocomplete" panelWidth="200">
              <mat-option [value]="0">不符合：0元</mat-option>
              <mat-option [value]="400">接受学历教育中，扣除：400元</mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>大病医疗(当月)</mat-label>
            <input matInput type="number" placeholder="0" formControlName="seriousMedicalExpense" min="0">
            <span matSuffix>元</span>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>住房贷款利息(当月)</mat-label>
            <input matInput
                   type="number"
                   placeholder="0"
                   formControlName="housingLoanInterest"
                   min="0"
                   (ngModelChange)="resetConflict($event, baseForm, 'extraDeduction.renting')"
                   [matAutocomplete]="housingLoanInterest">
            <span matSuffix>元</span>

            <mat-autocomplete #housingLoanInterest="matAutocomplete" panelWidth="200">
              <mat-option [value]="0">不符合：0元</mat-option>
              <mat-option [value]="500">夫妻双方各自扣除：500元</mat-option>
              <mat-option [value]="1000">仅有一方扣除：1000元</mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>住房租金(当月)</mat-label>
            <input matInput
                   type="number"
                   placeholder="0"
                   formControlName="renting"
                   min="0"
                   (ngModelChange)="resetConflict($event, baseForm, 'extraDeduction.housingLoanInterest')"
                   [matAutocomplete]="renting">
            <span matSuffix>元</span>

            <mat-autocomplete #renting="matAutocomplete" panelWidth="200">
              <mat-option [value]="0">不符合：0元</mat-option>
              <mat-option [value]="800">人口少于100万城市，扣除：800元</mat-option>
              <mat-option [value]="1100">人口大于100万城市，扣除：1100元</mat-option>
              <mat-option [value]="1500">省会，直辖市等，扣除：1500元</mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>赡养老人(当月)</mat-label>
            <input matInput
                   type="number"
                   placeholder="0"
                   formControlName="elderlyCare"
                   min="0"
                   [matAutocomplete]="elderlyCare">
            <span matSuffix>元</span>

            <mat-autocomplete #elderlyCare="matAutocomplete" panelWidth="200">
              <mat-option [value]="0">不符合：0元</mat-option>
              <mat-option [value]="2000">独生子女，扣除：2000元</mat-option>
              <mat-option [value]="1000">两个子女，均摊扣除：1000元</mat-option>
              <mat-option [value]="666.7">三个子女，均摊扣除：666.7元</mat-option>
              <mat-option [value]="500">四个子女，均摊扣除：500元</mat-option>
              <mat-option [value]="400">五个子女，均摊扣除：400元</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row mx-0" *ngIf="!usePredefinedInsurancePercents">
        <div formGroupName="insuranceRate">
          <mat-form-field appearance="standard" style="width: 120px;">
            <mat-label>养老保险个人缴纳比例</mat-label>
            <input matInput type="number" placeholder="0" formControlName="endowment" min="0">
            <span matSuffix>%</span>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>医疗保险个人缴纳比例</mat-label>
            <input matInput type="number" placeholder="0" formControlName="health" min="0">
            <span matSuffix>%</span>
          </mat-form-field>

          <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
            <mat-label>失业保险个人缴纳比例</mat-label>
            <input matInput type="number" placeholder="0" formControlName="unemployment" min="0">
            <span matSuffix>%</span>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>

  <footer>
    <button mat-raised-button color="primary" type="submit" [disabled]="baseForm.disabled || baseForm.invalid"
            (click)="calculate(baseForm.value)">计算
    </button>
    <button mat-raised-button class="ml-3" [disabled]="baseForm.disabled" (click)="reset()">重置</button>
    <button mat-raised-button class="ml-3" (click)="clearResult()">清空结果</button>
  </footer>
</mat-card>

<div class="row mt-5">
  <div class="col-md-6 col-sm-12 mb-4 mb-md-0" *ngIf="!clear && (monthlyIncomes$ | async) as incomeList">
    <mat-accordion class="" [@listAnimation]="incomeList.length" (animationend)="scrollToSummary()">
      <mat-expansion-panel *ngFor="let item of incomeList; let idx = index; trackBy: trackIncome" #panel>
        <mat-expansion-panel-header>
          {{ item.actualMonth - 1  | month }} 实收： {{ item.actualIncome | currency }}，公积金：{{ item.housingFund * 2 | currency }}
          ，个税：{{ item.tax | currency }}
        </mat-expansion-panel-header>

        <ng-container [ngTemplateOutlet]="detailForm"
                      [ngTemplateOutletContext]="{form: detailForms[idx], income: item, index: idx}"></ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-md-6">
    <mat-card class="calc-result" #summary *ngIf="!clear && (summary$ | async) as sum">
      <mat-list class="summary">
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年账面薪资收入</div>
          <div mat-line class="figure">{{ sum.bookSalary | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年一次性奖金收入</div>
          <div mat-line class="figure">{{ sum.bonus | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年预缴税额</div>
          <div mat-line class="figure">{{ sum.prepaidTax | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年一次性奖金收入单独计算税额</div>
          <div mat-line class="figure">{{ sum.bonusTax | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年个人综合所得税额（合并奖金计算）</div>
          <div mat-line class="figure">{{ sum.jointTax | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年公积金缴纳金额</div>
          <div mat-line class="figure">{{ sum.fullHousingFund | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年个人综合所得</div>
          <div mat-line class="figure">{{ sum.actualIncome | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>全年个人综合所得（过渡 - 2024.1.1止）</div>
          <div mat-line class="figure">{{ sum.actualIncomeDeprecated | currency }}</div>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>

<ng-template #detailForm let-form="form" let-income="income" let-idx="index">
  <form class="d-flex flex-column" [formGroup]="form">
    <div class="ml-md-3 d-flex flex-wrap">
      <mat-form-field appearance="standard">
        <mat-label>月薪</mat-label>
        <input matInput type="number" placeholder="10000" formControlName="monthSalary" min="0">
        <span matSuffix>元</span>
      </mat-form-field>

      <mat-form-field class="ml-3" appearance="standard">
        <mat-label>月度奖金</mat-label>
        <input matInput type="number" placeholder="0" formControlName="monthlyBonus" min="0">
        <span matSuffix>元</span>
      </mat-form-field>

      <mat-slide-toggle class="ml-3" formControlName="newPayCycle">入职新公司（新计费周期）？</mat-slide-toggle>
    </div>

    <div class="ml-md-3 d-flex flex-wrap">
      <mat-form-field appearance="standard">
        <mat-label>社保缴纳基数</mat-label>
        <input matInput type="number" placeholder="10000" formControlName="insuranceBase" min="0"
               [matAutocomplete]="insuranceBase2">
        <span matSuffix>元</span>

        <mat-autocomplete #insuranceBase2="matAutocomplete" panelWidth="200">
          <mat-option [value]="form.controls.monthSalary?.value">全额缴纳：{{form.controls.monthSalary?.value}}元(不超上限{{insuranceTop}}元)
          </mat-option>
          <mat-option [value]="cityRecipe.minimumWage">最低工资标准：{{cityRecipe.minimumWage}}元</mat-option>
          <mat-option [value]="0">不缴纳：0元</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="ml-3" formGroupName="insuranceRate">
        <mat-form-field appearance="standard" style="width: 120px;">
          <mat-label>养老保险个人缴纳比例</mat-label>
          <input matInput type="number" placeholder="0" formControlName="endowment" min="0">
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
          <mat-label>医疗保险个人缴纳比例</mat-label>
          <input matInput type="number" placeholder="0" formControlName="health" min="0">
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
          <mat-label>失业保险个人缴纳比例</mat-label>
          <input matInput type="number" placeholder="0" formControlName="unemployment" min="0">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>
    </div>

    <div class="ml-md-3 d-flex flex-wrap">
      <mat-form-field appearance="standard">
        <mat-label>公积金缴纳基数</mat-label>
        <input matInput type="number" placeholder="10000" formControlName="housingFundBase" min="0"
               [matAutocomplete]="housingFundBase2">
        <span matSuffix>元</span>

        <mat-autocomplete #housingFundBase2="matAutocomplete" panelWidth="200">
          <mat-option [value]="form.controls.monthSalary?.value">全额缴纳：{{form.controls.monthSalary?.value}}元(不超上限{{housingFundTop}}元)

          </mat-option>
          <mat-option [value]="cityRecipe.minimumWage">最低工资标准：{{cityRecipe.minimumWage}}元</mat-option>
          <mat-option [value]="0">不缴纳：0元</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
        <mat-label>公积金个人缴纳比例</mat-label>
        <input matInput type="number" placeholder="0" formControlName="housingFundRate" min="0">
        <span matSuffix>%</span>
      </mat-form-field>
    </div>

    <div class="ml-md-3 d-flex flex-wrap" formGroupName="extraDeduction">
      <mat-form-field appearance="standard" style="width: 120px;">
        <mat-label>子女教育(当月)</mat-label>
        <input matInput type="number" placeholder="0" formControlName="childEducation" min="0"
               [matAutocomplete]="childEducation">
        <span matSuffix>元</span>
      </mat-form-field>

      <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
        <mat-label>继续教育(当月)</mat-label>
        <input matInput type="number" placeholder="0" formControlName="continuingEducation" min="0"
               [matAutocomplete]="continuingEducation">
        <span matSuffix>元</span>
      </mat-form-field>

      <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
        <mat-label>大病医疗(当月)</mat-label>
        <input matInput type="number" placeholder="0" formControlName="seriousMedicalExpense" min="0">
        <span matSuffix>元</span>
      </mat-form-field>

      <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
        <mat-label>住房贷款利息(当月)</mat-label>
        <input matInput
               type="number"
               placeholder="0"
               formControlName="housingLoanInterest"
               min="0"
               (ngModelChange)="resetConflict($event, form, 'extraDeduction.renting')"
               [matAutocomplete]="housingLoanInterest">
        <span matSuffix>元</span>
      </mat-form-field>

      <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
        <mat-label>住房租金(当月)</mat-label>
        <input matInput
               type="number"
               placeholder="0"
               formControlName="renting"
               min="0"
               (ngModelChange)="resetConflict($event, form, 'extraDeduction.housingLoanInterest')"
               [matAutocomplete]="renting">
        <span matSuffix>元</span>
      </mat-form-field>

      <mat-form-field class="ml-3" appearance="standard" style="width: 120px;">
        <mat-label>赡养老人(当月)</mat-label>
        <input matInput type="number" placeholder="0" formControlName="elderlyCare" min="0"
               [matAutocomplete]="elderlyCare">
        <span matSuffix>元</span>
      </mat-form-field>

      <p>个人三险总费：{{ income.insuranceFullCost | number: '0.0-3' }}， 社保：{{ income.insuranceCosts.endowment | number: '0.0-3' }}, 医保：{{ income.insuranceCosts.health | number: '0.0-3' }}， 失业：{{ income.insuranceCosts.unemployment | number: '0.0-3' }}</p>
    </div>

    <div class="mr-3 d-flex justify-content-end">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
              (click)="updateMeta(form.value, idx)">更新
      </button>
    </div>
  </form>
</ng-template>

