@use "@angular/material" as mat;

@import "./app-theme";
@import "./styles/general";
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities/position";
@import "node_modules/bootstrap/scss/utilities/text";
@import "node_modules/bootstrap/scss/utilities/sizing";
@import "node_modules/bootstrap/scss/utilities/visibility";

// Include material core styles.
@include mat.core;
@include mat.typography-hierarchy($app-typography);
@include mat.all-component-themes($mat-theme);
@include material-app-theme($mat-theme);

.mat-mdc-accordion {
  display: block;
}

// .ng-animating {
//   border: red 1px solid;
// }

.ng-animating .mat-expansion-panel-content {
  visibility: hidden;
  height: 0;
}

.mat-mdc-dialog-container {
  --mdc-dialog-supporting-text-line-height: 20px;
  --mdc-dialog-subhead-size: 24px;
}
