@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";

:host {
  display: block;
}

.divider {
  height: 50%;
  margin-top: 25%;
}

mat-mdc-card-header {
  margin-bottom: 1.25em;

  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  ::ng-deep .mat-mdc-card-header-text {
    margin-left: 0;
  }
}

.city-list {
  width: 10em;
}

.summary {
  --mdc-list-list-item-supporting-text-color: rgb(0 0 0 / 87%);
  --mdc-list-list-item-leading-icon-color: rgb(0 0 0 / 87%);

  display: flex;
  flex-wrap: wrap;

  .figure {
    font-size: 1.5em;
    line-height: 1.25em;
  }
}

.summary mat-list-item {
  overflow: hidden;
  flex: 50% 0 0;
}

.mat-form-field-appearance-standard:first-child {
  margin-left: 0.5rem;
}

@include media-breakpoint-down(sm) {
  .calc-result {
    padding: 0;
  }

  .summary mat-list-item {
    flex-basis: 100%;
  }
}

@include media-breakpoint-down(md) {
  .mat-expansion-panel .mat-expansion-panel-header {
    transition: 150ms ease-in-out;
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
    font-size: 0.8em;
  }
}
