@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/variables";

.chart-container {
  width: 100%;
  height: 400px;
}

@include media-breakpoint-down(sm) {
  .calc-result {
    padding: 0;
  }
}
