@use "@angular/material" as mat;
@use "sass:map";

@mixin nav-bar-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  app-navbar {
    color: mat.m2-get-color-from-palette($primary, default-contrast);

    .navbar,
    .navbar-header {
      background: mat.m2-get-color-from-palette($primary);
    }
  }
}
