.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-mdc-button {
    color: inherit;

    .mat-icon {
      width: 24px;
      height: 24px;
    }

    &:last-child {
      margin-left: auto;
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}
