@tailwind base;

html,
body {
  height: 100vh;
}

body {
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  border-top: 1px solid white;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;
@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
